<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="modalLabelUpload">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header well" id="progressUpload">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="labelUpload"><i class="glyphicon glyphicon-list-alt"></i> Загрузка списка контактов</h4>
            </div>

            <div class="modal-body">                
                <div class="form-group">
                    <label for="inputComment">Комментарий</label>
                    <input type="text" class="form-control" id="inputComment">
                </div>

                <div class="input-group margin-top-40">                    
                    <span class="input-group-btn">
                        <span id="browseBtnUpload" class="btn btn-success btn-file">выбрать файл...<input id="inputUpload" class="file-loading" type="file" name="file"></span>
                    </span>
                    <input id="fileNameUpload" accept="xlsx" type="text" class="form-control" readonly>
                </div>                
            </div>

            <div class="modal-footer">                
                <button id="buttonUpload" type="submit" class="btn btn-primary">загрузить</button>
            </div>
        </div>
    </div>
</div>

