@Html.Partial("_XlsUpload")

<div class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="txtLastName">Фамилия</label>
        <input id="txtLastName" type="text" placeholder="Фамилия" class="form-control" />
    </div>

    <div class="form-group">
        <label class="sr-only" for="txtFirstName">Телефон</label>
        <input id="txtPhone" type="text" placeholder="Телефон" class="form-control" />
    </div>

    <div id="filterCity" class="form-group" style="display: none">
        <label class="sr-only" for="txtCity">Город</label>
        <select id="txtCity" multiple="multiple"></select>
    </div>

    <div id="filterCategory" class="form-group" style="display: none">
        <label class="sr-only" for="txtCategory">Категория</label>
        <select id="txtCategory" multiple="multiple"></select>
    </div>

    <div id="filterIsValid" class="form-group">
        <label class="sr-only" for="txtCategory">Валидный</label>
        <select id="txtIsvalid" multiple="multiple">
            <option value="Да">Да</option>
            <option value="Нет">Нет</option>
        </select>
    </div>
</div>

<div class="form-inline margin-top">
    <button id="btnSearch" type="button" class="btn btn-default">Фильтр</button>
    <button id="btnClear" type="button" class="btn btn-default">Сброс</button>
</div>

<div class="gj-clear-both margin-top-40">
    <div class="gj-margin-top-10">
        <table id="grid"></table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var application = new app();
        });
    </script>
}

